<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Dentist Convention 2024</title>
    <link rel="stylesheet" href="/css/main_style.css">
    <link rel="shortcut icon" href="#" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/popup_styles.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="/"><img src = 'image/VSDC-Logo.png' class = 'logo'></img></a>
            <div class="nav-links" id="navLinks">
                <span class="icon" onclick="hidemenu()">&#10005;</span>
                <ul>
                    
                    <li><a href="/facultyregister">Faculty Register</a></li>
                    <li><a href="/studentregister">Student Register</a></li>
                    <li><a href="https://drive.google.com/file/d/11mBSQykccNCry8vmpl4Yt6Z3jkNhXGYG/view?usp=sharing">Brochure</a></li>
                    <li><a href="https://forms.gle/skheb4oEmvfwPQvD9" class='reglink'>Abstract submission</a></li>
                </ul>
               
            </div> 
            <div class="mobile-buttons">
                <a href="/studentregister" class = 'reglink'>Students</a>
                <a href="/facultyregister" class = 'reglink'>Faculty</a>
                <a href="https://forms.gle/skheb4oEmvfwPQvD9" class='reglink'>Abstract submission</a>
            </div>
            <span class="icon" onclick="showmenu()">&#9776;</span>
        </nav>
        
        <div class="logo-box" style="top:90px">
            <img class = 'logo' src = 'image/IDA-Logo.png' alt = 'IDA-Logo'/>
            <img class = 'logo' src = 'image/KSDC-Logo.png' alt = 'KSDC-Logo'/>
            <img class = 'logo' src = 'image/IDA-Logo-2.png' alt = 'IDA-Logo-2'/>
        </div>
        <div class="text-box" style="top:90px">
            <h1>Dentist Convention 2024</h1>
            <p style="font-weight: bold;font-size: 16px;">Empowering Minds, Shaping Futures<br/><br/><i class="fa-solid fa-location-dot" style="font-size: 12px;"></i> <a id = 'location' href="https://www.google.com/maps/search/?api=1&query=Kuvempu+Kalakshetra" target="_blank">Kuvempu Kalakshetra</a><br>
                Vokkaligara Sangha Dental College , V.V.Puram, Bengaluru - 560 004<br/><br/><i class="fa-regular fa-calendar-days"></i> <b>20th Saturday, July 2024</b></p>
                
        </div>

        <div class="slider">
            <span>For More info, Contact: +91 97312 55177 | 90080 00166</span>
        </div>
    </section>
    <section class="facilities">
        <h1>GUEST LECTURES</h1>
        <p>Join us for an enlightening session with our esteemed guest lecturer</p>
        <div class="row">
            <div class="facilities-col" >
                <img src="image/Chandrashekar_Yavgal.jpeg" alt="" style="height: 350px;">
                <h3>Prof. Chandrashekar Yavgal- MD, PhD, FRCP, FIDSA</h3>
                <p>TOPIC : Harnessing the power of recent laser technology with clinical innovations.<br/> Are you ready for the quantum leap?</p>
            </div>
            <div class="facilities-col" >
                <img src="image/Deepak_Mehta.jpeg" alt="" style="height: 350px;">
                <h3> Dr. Deepak Mehta - BDS MDS PhD</h3>
                <p>TOPIC : Direct Posterior Composites - Clinical Essentials from start to finish</p>
            </div>
           
    </section>
<!-- pannel discussion -->
    <section class="course" id="course_call">
        <h1>PANEL DISCUSSION ON </h1>
        <p>Prospective Endeavours for Dental Professionals</p>
        <div class="row">
            <div class="course-col">
                <h2>Dr. Ranganath Venugopal <br/></h2>
                <p>  KSDC rules, regulations , procedure requirements   and legal aspects</p>
            </div>
            <div class="course-col">
                <h2> Dr. Girish Giraddi</h2>
                <p>  Opportunities in govt sector for getting 
                    into   jobs, getting grants and aids</p>
            </div>
            <div class="course-col">
                <h2>Dr. Srinidhi BSC CA & IT</h2>
                <p>Setting up a dental clinic from basic 
                    to   advanced   oral care</p>
            </div>
        </div>
        <div class="row">
            <div class="course-col">
                <h2>Dr. Veerendra Kumar SC  <br/></h2>
                <p> Technical Advances in implants, lasers, 
                    prosthesis and aesthetics in dentistry </p>
            </div>
            <div class="course-col">
                <h2>Dr. Sushil Agarwal </h2>
                <p>  Career placements for dentistry, after 
                    BDS in   India and overseas</p>
            </div>
            <div class="course-col">
                <h2>Dr. Sunil S Chiplunkar</h2>
                <p> Importance of industry - academia joint 
                    research projects</p>
            </div>
        </div>
        <h1>MODERATORS</h1>
        <div class="row">
            <div class="course-col">
                <h2> Dr. Smitha. T <br/></h2>
                
            </div>
            <div class="course-col">
                <h2>Dr. Deepak Shiva</h2>
                
            </div>
            
        </div>
    </section>
    <!-- After party -->
    <section class="after-banquet">
        <div class="after-banquet-content">
            <div class="after-banquet-text">
                <h2>After Banquet Party for Staff<br/><br/><strong><i class="fa-solid fa-location-dot" style="font-size: 20px;"></i> <a href="https://www.google.com/maps/search/?api=1&query=FabHotel+Suvee+Boutique+Hotel" target="_blank">FabHotel Suvee Boutique Hotel</a></strong></h2>
                <p>
                    Gala Banquet - 7.00 pm to 10.30 pm<br>
                    No. 304, 100ft Ring Road, 7th Block, 4th Phase,<br>
                    B.S.K. 3rd Stage, Bangalore - 85, near Devegowda<br>
                    Petrol Bunk, Opp. Apollo National Public School
                </p>
            </div>
            <div class="after-banquet-img">
                <img src="image/hotel.png" alt="Gala Banquet" style="height: 250px;">
            </div>
        </div>
    </section>
    <!-- End of after party -->
<!-- chief guests and guest of honor -->
    <section class="facilities">
        <h1>ESTEEMED GUESTS</h1>
        <div class="row">
            <div class="facilities-col">
                <img src="image/M_C_Sudhakar.jpeg" alt="" style="height: 350px;">
                <h3>Chief Guest - Dr. M.C. Sudhakar</h3>
                <p>Hon’ble Higher Education Minister, 
                   Govt. of Karnataka</p>
            </div>
            <div class="facilities-col">
                <img src="image/JAIKRISHNA.jpeg" alt="" style="height: 350px;">
                <h3>GUEST OF HONOUR - Dr. H.J. JAIKRISHNA</h3>
                <p>MDS, PGDMLE (NLSIU), FDS RCPS (Glasg).
                     Syndicate Member, 
                    Rajiv Gandhi University of Health Sciences</p>
            </div>
        </div>
    </section>

    <section class="conference-schedule">
        <h1>CONFERENCE SCHEDULE</h1>
        <div class="schedule-table">
            <div class="schedule-row">
                <div class="schedule-item">Inauguration</div>
            </div>
            <div class="schedule-row">
                <div class="schedule-item">1st Keynote Lecture</div>
            </div>
            <div class="schedule-row">
                <div class="schedule-item">Tea Break</div>
            </div>
            <div class="schedule-row">
                <div class="schedule-item">2nd Keynote Lecture</div>
            </div>
            <div class="schedule-row">
                <div class="schedule-item">Panel Discussions</div>
            </div>
            <div class="schedule-row">
                <div class="schedule-item">LUNCH</div>
            </div>
            <div class="schedule-row">
                <div class="schedule-item">Poster Presentations (E-Posters only)</div>
            </div>
        </div>
    </section>

     <!-- Guidelines for Poster Presentation -->
     <section class="guidelines">
        <h1>GUIDELINES FOR E POSTER PRESENTATION</h1>
        <h2>Content</h2>
        <p>The poster should be concise and contain the essential details to explain in 4 minutes. The poster should not carry any name, identity details of the presenters. A poster number will be given before the session and the presenter may identify themselves based on the number while presenting.</p>
        <h2>Design</h2>
        <p>The poster should be clean, organized, and simple. It should have a consistent layout with consistent margins, line spacing, color, style, and shading. The poster should use minimal text, with figures and tables being the main focus. Please prepare both PowerPoint (compatible with PowerPoint 2013 version) and PDF version. Since the display size for your E poster may be variable, please follow the guidelines mentioned below to have a nice presentation session. The poster should not be more than 10MB in size and is to be carried in person. Both the versions of your presentation should be carried in person by you in a USB drive and handed over to the person in charge before the beginning of their respective sessions.</p>
        <h2>Text</h2>
        <p>The text should be clear, to the point, and legible from about 10 feet away. The title should be short and draw interest, with font size legible from approximately 2–3 meters. The body text should be legible from 6 feet away.</p>
        <h2>Graphics</h2>
        <p>The poster should include text and graphics, and use color to add emphasis and clarity. Illustrations should be simple and bold, and photos should clearly show pertinent details.</p>
        <p>The authors must submit the title and an abstract containing not more than 200 words, along with their names, guides names, college address for their E-poster before 18th July 2024. Each poster can have not more than two registered delegates presenting it.</p>
        <h2>Abstract Format</h2>
        <ul>
            <li>Use Times New Roman or Arial font, 12-point size.</li>
            <li>Do not include references or acknowledgments in the abstract.</li>
            <li>Include the following sections when relevant:</li>
            <ul>
                <li>Introduction/Objective</li>
                <li>Methods</li>
                <li>Results</li>
                <li>Conclusion</li>
            </ul>
        </ul>
    </section>
    
    <!-- Organising committee -->
<section class="facilities">
    <h1>ORGANISING COMMMITTEE</h1>

        
        <div class="centered-content">
            <img src="image/Annaji.jpeg" alt="">
            <h3>Dr. A.G. Annaji</h3>
            <p>PRESIDENT <br/> IDA Bangalore Branch</p>
        </div>
        
    <div class="row">
        <div class="facilities-col">
            <img src="image/Vidhyasagar.jpeg" alt="" style="height: 350px;">
            <h3>Dr. D.V. Vidhyasagar</h3>
            <p> SECRETARY <br/>
                IDA Bangalore Branch</p>
        </div>
        <div class="facilities-col">
            <img src="image/Dhayakar.jpeg" alt="" style="height: 350px;">
            <h3>Dr. Dhayakar K.V. </h3>
            <p>TREASURER <br/>
                IDA Bangalore Branch</p>
        </div>
        <div class="facilities-col">
            <img src="image/Anirban_Chatterjee.jpeg" alt="" style="height: 350px;">
            <h3> Dr. Anirban Chatterjee </h3>
            <p>CONVENTOR</p>
        </div>
    </div>
    
</section>

<!-- Other Organising Members -->
<section class="course" id="course_call">
    <h1>ORGANISING MEMBERS</h1>
    
    <div class="row">
        <div class="course-col">
            <h2>Chief Patron </h2>
            <p> Dr. SUDHAKAR M.C</p>
        </div>
        <div class="course-col">
            <h2> CONVENOR</h2>
            <p>  Dr. ANIRBAN CHATTERJEE</p>
        </div>
        <div class="course-col">
            <h2> CO-CONVENOR</h2>
            <p>  Dr. SMITHA <br />
                Dr. SHIVU M E</p>
        </div>
        
    </div>
    <div class="row">
        <div class="course-col">
            <h2>ADVISORS <br/></h2>
            <p> Dr. SANJAY MOHAN CHANDRA<br />
                Dr. VEERENDRA KUMAR S.C<br />
                Dr. VEERENDRA KUMAR B<br />
                Dr. NANDA KISHORE B<br />
                Dr. SUDARSHAN SAJJAN<br />
                Dr. UTKARSHA LOKESH<br />
                Dr. KISHORE H.C </p>
        </div>
        <div class="course-col">
            <h2>SCIENTIFIC COMMITTEE </h2>
            <p> Dr. MURALI R<BR />
                Dr. DEEPAK S<BR />
                Dr. J RAGHUNAND SINDHE<BR />
                Dr. UMA S R<BR />
                Dr. ULHAS N. AMASI<BR />
                Dr. REVAN KUMAR JOSHI<BR />
                Dr. PRASHANTH B. R<BR />
                Dr. MANJUNATH S. SARANGI</p>
        </div>
        <div class="course-col">
            <h2>FELICITATION <br/></h2>
            <p> Dr. B.T HEGDE<br />
                Dr. RANGANATH<br />
                Dr. PRABHUJI M L V<br />
                Dr. NARENDRA </p>
        </div>
        
    </div>
    <div class="row">
        <div class="course-col">
            <h2>RECEPTION</h2>
            <p> Dr. AKSHAY M SHETTY<br />
                Dr. REKHA JAGADISH<br />
                Dr. DIVYA RANI<br />
                Dr. AKSHAY V<br />
                Dr. NAMITHA SHANBHAG<br />
                Dr. ROHIT S<br />
                Dr. R N SUDARSHAN KUMAR<br />
                Dr. JEEVAN SHETTY<br />
                Dr. M.G.S PRASAD</p>
        </div>
        <div class="course-col">
            <h2>HOSPITALITY & BANQUET </h2>
            <p> Dr. CHARAN KUMAR SHETTY<br />
                Dr. VARUN SHETTY<br />
                Dr. ABHISHEK SHETTY<br />
                Dr. YOKESH V RATNAM<br />
                Dr. VENUGOPAL S S<br />
                Dr. SHANMUKHA SWAMY B. N<br />
                Dr. MADHUSUDHAN REDDY</p>
        </div>
        <div class="course-col">
            <h2>REGISTRATION COMMITTEE</h2>
            <p> Dr. NAVEEN KUMAR N<br />
                Dr. SANDEEP J N<br />
                Dr. M.D NOAMAN<br />
                Dr. GOUTHAM N<br />
                Dr. (Capt) SURESH T<br />
                Dr. MADHU K<br />
                Dr. SUNIL KUMAR K R<br />
                Dr. RAMESH L<br />
                Dr. SIDDARTH ARYA<br />
                Dr. MADAN KUMAR M<br />
                Dr. SUPRIYA MANVI<br />
                Dr. PREMNATH</p>
        </div>
    </div>

   

    <section class="footer">
        <h4>About Us</h4>
        <p>VS Dental College is a premier dental institution in Bengaluru, offering comprehensive education and state-of-the-art facilities for aspiring dental professionals. Known for its distinguished faculty and cutting-edge research, 
            the college is dedicated to excellence in dental care and innovation.</p>
            <h5> For Registration  Contact: 
                99800 09683 | 93428 19717 | 
                94484 10509  | 94480 6392</h5>
    </section> 

    

    <script src="javascript/main_script.js"></script>
</body>
</html>
